.wrapper {
  .flex-wrapper {
    color: #000000;
    display: flex;
    justify-content: flex-end;
  }

  .push3 {
    // Just a hack styling to nudge some things
    height: 3px;
  }
  .push4 {
    height: 4px;
  }

  .column {
  }

  .one {
    // max-width: 66.666%;
    padding-left: 4px;
    padding-right: 4px;
    flex-grow: 1;
  }

  .two {
    text-align: center;
    // margin-bottom: 0.8em;
    // margin-left: 50px;
    height: 424px;
    display: flex;
    align-items: center;
    // transition: height 0.5s; // TODO: adjust height to trigger transition
  }

  .three {
    color: #516c72;
    font-family: ABCSans, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    // margin-bottom: 0.8rem;
    max-height: 450px;
    margin-left: 6px;
    min-width: 42px;
  }

  .column .boldtext {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 20px;
    line-height: 28px;
  }

  .column .smalltext {
    font-family: ABCSans, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #516c72;
    margin-bottom: 1rem;
  }

  .standard-text {
    color: #111111;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 1rem;
  }

  .guess-message {
    font-weight: bold;
    color: black;
  }

  @media only screen and (max-width: 768px) {
    .standard-text {
      font-size: 16px;
    }
  }

  .calculating-result {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: ABCSans, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #111;
  }

  .results-container {
  }

  .results-standard {
    color: #ff6100;
    font-weight: bold;
    font-variant-numeric: oldstyle-nums;
    font-family: ABCSans, Arial, Helvetica, sans-serif;
  }

  .results-above {
    color: #333;
    font-weight: bold;
    font-variant-numeric: oldstyle-nums;
    // font-family: ABCSans, Arial, Helvetica, sans-serif;
  }

  .results-below {
    color: #333;
    font-weight: bold;
    font-variant-numeric: oldstyle-nums;
    // font-family: ABCSans, Arial, Helvetica, sans-serif;
  }

  .try-again span {
    // vertical-align: middle;
  }

  .reload-icon img {
    position: relative;
    top: 5px;
  }

  .scale-labels {
    /* Richest: */
    font-family: ABCSans, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    white-space: nowrap;
    min-width: 115px;
    font-variant-numeric: oldstyle-nums;
  }

  button {
    width: 100%;
    max-width: 256px;
    display: block;
    color: white;
    background-color: #1c1c1c;
    text-transform: uppercase;
    font-family: ABCSans, Arial, Helvetica, sans-serif;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12px;
    letter-spacing: 2px;
    border: 0;
    line-height: 1.5rem;
  }

  @media only screen and (max-width: 768px) {
    button {
      font-size: 11px;
    }
  }

  input[type="text"] {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid #143d47;
    outline: none;
    font-size: 20px;
    padding: 1px;
    color: #ff6100;
    max-width: 100px;
    border-radius: 0; // Remove round corners on iOS
    -webkit-appearance: none; // Remove round corners on iOS - legacy
  }

  // Third column stuff
  // .scale-container {
  //   display: flex;
  //   flex-direction: column;
  //   height: 100%;
  //   justify-content: space-between;
  // }

  // .scale-container-results {
  //   position: relative;
  // }

  // .most-rich {
  //   position: relative;
  //   top: -4px;
  // }

  // .least-rich {
  //   position: relative;
  //   bottom: -6px;
  // }

  // .most-rich-text {
  //   position: relative;
  //   top: -6px;
  // }

  // .least-rich-text {
  //   position: relative;
  //   bottom: -1px;
  // }

  // Results third column
  .are-richer {
  }

  .are-poorer {
  }

  .are-richer-text {
  }

  .are-richer-text b {
    font-weight: 900;
    font-size: 13px;
  }

  .are-poorer-text {
  }

  .are-poorer-text b {
    font-weight: 900;
    font-size: 13px;
  }

  .your-bracket {
    font-weight: 900;
    line-height: 13px;
    text-align: left;
    color: #c44b00;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    position: relative;
    left: 5px;
    text-transform: uppercase;
    white-space: nowrap;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

.opacity-transition {
  opacity: 0;
  transition: opacity 0.3s;
}

.bracket-chart {
  height: 230px;

  background-color: #00242c;
}

// Styles for range slider containing div

.result-container {
  // height: 89%;
  // width: 100%;
}

.result {
  height: 100%;
  position: relative;
}

.result .vertical-bar {
  height: 100%;
  background: linear-gradient(#00114b, #e1e6da);
  width: 15px;
  border-radius: 3px;
}

.bracket-box {
  position: absolute;
  width: 23px;
  height: 30px;
  border: 2px solid #ff6100;
  top: 0px;
  left: -4px;
  z-index: 1;
}

.bracket-box-outer {
  content: " ";
  position: absolute;
  top: -2px;
  left: -4px;
  width: 23px;
  height: 34px;
  border-top: 6px solid #f9f9f9;
  border-bottom: 6px solid #f9f9f9;
}

.guess-box {
  position: absolute;
  width: 23px;
  height: 30px;
  border: 2px solid #516c72;
  top: 0px;
  left: -4px;
  z-index: 1;
  font-family: ABCSans, Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 13px;
  display: flex;
  align-items: center;
  // justify-content: center;
}

.guess-box span {
  position: relative;
  left: -33px;
}

.guess-box-outer {
  content: " ";
  position: absolute;
  top: -2px;
  left: -4px;
  width: 23px;
  height: 34px;
  border-top: 6px solid #f9f9f9;
  border-bottom: 6px solid #f9f9f9;
}

.bracket-container {
  position: relative;
}

.bar-spacer {
  background-color: #f9f9f9;
  height: 2px;
  width: 15px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.space1 {
  top: calc(3.84% - 1px);
}

.space2 {
  top: calc(10.04% - 1px);
}

.space3 {
  top: calc(14.16% - 1px);
}

.space4 {
  top: calc(20.1% - 1px);
}

.space5 {
  top: calc(27.12% - 1px);
}

.space6 {
  top: calc(37.35% - 1px);
}

.space7 {
  top: calc(47.37% - 1px);
}

.space8 {
  top: calc(56.56% - 1px);
}

.space9 {
  top: calc(65.74% - 1px);
}

.space10 {
  top: calc(75.75% - 1px);
}

.space11 {
  top: calc(86.18% - 1px);
}

.space12 {
  top: calc(94.84% - 1px);
}

.result-bracket {
  // background-color: red;
  height: 10px;
  width: 15px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  opacity: 1;
  // transition: opacity 0.3s ease-out;
}

.bracket13 {
  top: 0%;
  height: 3.84%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.bracket12 {
  top: 3.84%;
  height: 6.2%;
}

.bracket11 {
  top: 10.04%;
  height: 4.12%;
}

.bracket10 {
  top: 14.16%;
  height: 5.94%;
}

.bracket9 {
  top: 20.1%;
  height: 7.02%;
}

.bracket8 {
  top: 27.12%;
  height: 10.23%;
}

.bracket7 {
  top: 37.35%;
  height: 10.02%;
}

.bracket6 {
  top: 47.37%;
  height: 9.19%;
}

.bracket5 {
  top: 56.56%;
  height: 9.18%;
}

.bracket4 {
  top: 65.74%;
  height: 10.01%;
}

.bracket3 {
  top: 75.75%;
  height: 10.43%;
}

.bracket2 {
  top: 86.18%;
  height: 8.66%;
}

.bracket1 {
  top: 94.84%;
  height: 5.16%;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.bracket-guess {
  background-color: black;
}

.bracket-yours {
  background-color: #ff6100;
}

// This is the text on the right that says "Your bracket"

.result-bracket-text {
  position: absolute;
  left: 60%;
  z-index: 1;
  text-align: left;
  font-family: ABCSans, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #c94700;
  line-height: 11px;
  text-transform: uppercase;
  // transition: opacity 0.5s;
}

.result-bracket-text13 {
  top: 0%;
}

.result-bracket-text12 {
  top: calc(3.84% + 3.1% - 11px);
  // height: 6.2%;
}

.result-bracket-text11 {
  top: calc(10.04% + 2.06% - 11px);
  // height: 4.12%;
}

.result-bracket-text10 {
  top: calc(14.16% + 2.97% - 11px);
  // height: 5.94%;
}

.result-bracket-text9 {
  top: calc(20.1% + 3.51% - 11px);
  // height: 7.02%;
}

.result-bracket-text8 {
  top: calc(27.12% + 5.115% - 11px);
  // height: 10.23%;
}

.result-bracket-text7 {
  top: calc(37.35% + 5.01% - 11px);
  // height: 10.02%;
}

.result-bracket-text6 {
  top: calc(47.37% + 4.595% - 11px);
  height: 9.19%;
}

.result-bracket-text5 {
  top: calc(56.56% + 4.59% - 11px);
  // height: 9.18%;
}

.result-bracket-text4 {
  top: calc(65.74% + 5.005% - 11px);
  // height: 10.01%;
}

.result-bracket-text3 {
  top: calc(75.75% + 5.215% - 11px);
  // height: 10.43%;
}

.result-bracket-text2 {
  top: calc(86.18% + 4.33% - 11px);
  // height: 8.66%;
}

.result-bracket-text1 {
  bottom: 0;
  // height: 5.16%;
}

// This is the text on the left "Your guess"

.result-guess-text {
  position: absolute;
  right: 60%;
  z-index: 1;
  text-align: right;
  font-family: ABCSans, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: black;
  line-height: 11px;
  text-transform: uppercase;
  // transition: opacity 0.5s; 
}

.result-guess-text13 {
  top: 0%;
}

.result-guess-text12 {
  top: calc(3.84% + 3.1% - 11px);
  // height: 6.2%;
}

.result-guess-text11 {
  top: calc(10.04% + 2.06% - 11px);
  // height: 4.12%;
}

.result-guess-text10 {
  top: calc(14.16% + 2.97% - 11px);
  // height: 5.94%;
}

.result-guess-text9 {
  top: calc(20.1% + 3.51% - 11px);
  // height: 7.02%;
}

.result-guess-text8 {
  top: calc(27.12% + 5.115% - 11px);
  // height: 10.23%;
}

.result-guess-text7 {
  top: calc(37.35% + 5.01% - 11px);
  // height: 10.02%;
}

.result-guess-text6 {
  top: calc(47.37% + 4.595% - 11px);
  height: 9.19%;
}

.result-guess-text5 {
  top: calc(56.56% + 4.59% - 11px);
  // height: 9.18%;
}

.result-guess-text4 {
  top: calc(65.74% + 5.005% - 11px);
  // height: 10.01%;
}

.result-guess-text3 {
  top: calc(75.75% + 5.215% - 11px);
  // height: 10.43%;
}

.result-guess-text2 {
  top: calc(86.18% + 4.33% - 11px);
  // height: 8.66%;
}

.result-guess-text1 {
  bottom: 0;
  // height: 5.16%;
}

.opacity-full {
  opacity: 1;
}

.opacity-none {
  opacity: 0;
}

.visibility-visible {
  visibility: visible;
}

.visibility-hidden {
  visibility: hidden;
}

:global {
  /*! nouislider - 11.0.3 - 2018-01-21 14:04:07 */
  /* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
  .noUi-target,
  .noUi-target * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline-color: transparent; /* remove blue outline in Chrome and */
    outline-style: none; /* remove dotted outline in Firefox */
  }
  .noUi-target {
    position: relative;
    direction: ltr;
  }
  .noUi-base,
  .noUi-connects {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  /* Wrapper for all connect elements.
  */
  .noUi-connects {
    overflow: hidden;
    z-index: 0;
  }
  .noUi-connect,
  .noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  /* Offset direction
  */
  html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
    left: auto;
    right: 0;
  }
  /* Give origins 0 height/width so they don't interfere with clicking the
  * connect elements.
  */
  .noUi-vertical .noUi-origin {
    width: 0;
  }
  .noUi-horizontal .noUi-origin {
    height: 0;
  }
  .noUi-handle {
    position: absolute;
  }
  .noUi-state-tap .noUi-connect,
  .noUi-state-tap .noUi-origin {
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
  }
  .noUi-state-drag * {
    cursor: inherit !important;
  }
  /* Slider size and handle placement;
  */
  .noUi-horizontal {
    height: 18px;
  }
  .noUi-horizontal .noUi-handle {
    width: 34px;
    height: 28px;
    left: -17px;
    top: -6px;
  }
  .noUi-vertical {
    width: 15px;
  }
  .noUi-vertical .noUi-handle {
    width: 48px; // a bit bigger than
    height: 48px; // the handle image
    left: 12px;
    top: -25px; // Make sure it doesn't fly off the handle
  }
  html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -17px;
    left: auto;
  }
  /* Styling;
  * Giving the connect element a border radius causes issues with using transform: scale
  */
  .noUi-target {
    background: linear-gradient(
      #00114b 0%,
      #001d62 3.84%,
      #002875 10.04%,
      #03418d 14.16%,
      #085b96 20.1%,
      #0f75a0 27.12%,
      #188cad 37.35%,
      #24a3bc 47.37%,
      #3fb2c6 56.56%,
      #5ec0cd 65.74%,
      #7acfd4 75.75%,
      #9cd9ce 86.18%,
      #bfe3cd 94.84%,
      #e1e6da 100%
    );
    border-radius: 3px;
  }

  .noUi-connects {
    border-radius: 3px;
  }
  .noUi-connect {
    background: #3fb8af;
  }
  /* Handles and cursors;
  */
  .noUi-draggable {
    cursor: ew-resize;
  }
  .noUi-vertical .noUi-draggable {
    cursor: ns-resize;
  }
  .noUi-handle {
    background-image: url("http://www.abc.net.au/res/sites/news-projects/income-comparisons-react/master/handle.svg");
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
  }
  .noUi-active {
    // box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
  }
  /* Handle stripes;
  */
  .noUi-handle:before,
  .noUi-handle:after {
    // content: "";
    // display: block;
    // position: absolute;
    // height: 14px;
    // width: 1px;
    // background: #e8e7e6;
    // left: 14px;
    // top: 6px;
  }
  .noUi-handle:after {
    left: 17px;
  }
  .noUi-vertical .noUi-handle:before,
  .noUi-vertical .noUi-handle:after {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px;
  }
  .noUi-vertical .noUi-handle:after {
    top: 17px;
  }
  /* Disabled state;
  */
  [disabled] .noUi-connect {
    background: #b8b8b8;
  }
  [disabled].noUi-target,
  [disabled].noUi-handle,
  [disabled] .noUi-handle {
    cursor: not-allowed;
  }
  /* Base;
  *
  */
  .noUi-pips,
  .noUi-pips * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .noUi-pips {
    position: absolute;
    color: #999;
  }
  /* Values;
  *
  */
  .noUi-value {
    position: absolute;
    white-space: nowrap;
    text-align: center;
  }
  .noUi-value-sub {
    color: #ccc;
    font-size: 10px;
  }
  /* Markings;
  *
  */
  .noUi-marker {
    position: absolute;
    background: #ccc;
  }
  .noUi-marker-sub {
    background: #aaa;
  }
  .noUi-marker-large {
    background: #aaa;
  }
  /* Horizontal layout;
  *
  */
  .noUi-pips-horizontal {
    padding: 10px 0;
    height: 80px;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .noUi-value-horizontal {
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }
  .noUi-rtl .noUi-value-horizontal {
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
  }
  .noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
  }
  .noUi-marker-horizontal.noUi-marker-sub {
    height: 10px;
  }
  .noUi-marker-horizontal.noUi-marker-large {
    height: 15px;
  }
  /* Vertical layout;
  *
  */
  .noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%;
  }
  .noUi-value-vertical {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%, 0);
    padding-left: 25px;
  }
  .noUi-rtl .noUi-value-vertical {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
  }
  .noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
  }
  .noUi-marker-vertical.noUi-marker-sub {
    width: 10px;
  }
  .noUi-marker-vertical.noUi-marker-large {
    width: 15px;
  }
  .noUi-tooltip {
    display: block;
    position: absolute;
    // border: 1px solid #d9d9d9;
    border-radius: 3px;
    // background: #fff;
    color: #ff6100;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    font-family: ABCSans, Arial, Helvetica, sans-serif;
  }
  .noUi-horizontal .noUi-tooltip {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 120%;
  }
  .noUi-vertical .noUi-tooltip {
    -webkit-transform: translate(0, -40%);
    transform: translate(0, -40%);
    top: 40%;
    right: 130%;
  }
}
