.wrapper {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif !important;
}

.wrapper input {
  background-color: white;
  border: 1px solid black;
  outline: none;
  font-size: 13px;
  padding: 13px;
  margin-bottom: 1.2em;
  width: 100%;
}
ul.drop-down {
}

:global {
}
