.wrapper {
  .flex-wrapper {
    font-size: 20px;
    color: #143d47;
    display: flex;
  }

  .column {
    margin: 0 6px;
  }

  .one {
    // max-width: 66.666%;
  }

  .two {
    text-align: right;
    margin-bottom: 0.8em;
    margin-left: 55px;
  }

  .three {
    color: #516c72;
    font-family: ABCSans, Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-align: center;
    margin-bottom: 0.8rem;
  }

  .column .boldtext {
    font-weight: bold;
    margin-bottom: 0.8rem;
  }

  .column .smalltext {
    font-family: ABCSans, Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #516c72;
    margin-bottom: 0.8rem;
  }

  .standard-text {
    color: #111111;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 1em;
  }

  .results-standard {
    color: #516c72;
    font-weight: bold;
    font-family: ABCSans, Arial, Helvetica, sans-serif;
  }

  .results-above {
    color: #00242c;
    font-weight: bold;
    font-family: ABCSans, Arial, Helvetica, sans-serif;
  }

  .results-below {
    color: #009fa5;
    font-weight: bold;
    font-family: ABCSans, Arial, Helvetica, sans-serif;
  }

  .try-again span {
    // vertical-align: middle;
  }

  .reload-icon img {
    position: relative;
    top: 4px;
  }

  button {
    margin: auto;
    margin-top: 0.8em;
    min-width: 100%;
    display: block;
    color: white;
    background-color: #1c1c1c;
    text-transform: uppercase;
    font-family: ABCSans, Arial, Helvetica, sans-serif;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 12px;
    letter-spacing: 2px;
    border: 0;
    line-height: 1.5rem;
  }

  input[type="number"] {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid #143d47;
    outline: none;
    font-size: 20px;
    padding: 1px;
    color: #ff6100;
    max-width: 80px;
    border-radius: 0; // Remove round corners on iOS
    -webkit-appearance: none; // Remove round corners on iOS - legacy
  }

  // Third column stuff
  .scale-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .scale-container-results {
    position: relative;
  }

  .most-rich {
    position: relative;
    top: -4px;
  }

  .least-rich {
    position: relative;
    bottom: -6px;
  }

  .most-rich-text {
    position: relative;
    top: -6px;
  }

  .least-rich-text {
    position: relative;
    bottom: -1px;
  }

  // Results third column
  .are-richer {
  }

  .are-poorer {
  }

  .are-richer-text {
  }

  .are-richer-text b {
    font-weight: 900;
    font-size: 13px;
  }

  .are-poorer-text {
  }

  .are-poorer-text b {
    font-weight: 900;
    font-size: 13px;
  }

  .your-bracket {
    font-weight: 900;
    // font-size: 11px;
    text-align: left;
    color: #C44B00;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    position: relative;
    left: 5px;
  }
}

.fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.bracket-chart {
  height: 230px;

  background-color: #00242c;
}

.vertical-bar {
  height: 100%;
}

:global {
  /*! nouislider - 11.0.3 - 2018-01-21 14:04:07 */
  /* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
  .noUi-target,
  .noUi-target * {
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline-color: transparent; /* remove blue outline in Chrome and */
    outline-style: none; /* remove dotted outline in Firefox */
  }
  .noUi-target {
    position: relative;
    direction: ltr;
  }
  .noUi-base,
  .noUi-connects {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
  /* Wrapper for all connect elements.
  */
  .noUi-connects {
    overflow: hidden;
    z-index: 0;
  }
  .noUi-connect,
  .noUi-origin {
    will-change: transform;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  /* Offset direction
  */
  html:not([dir="rtl"]) .noUi-horizontal .noUi-origin {
    left: auto;
    right: 0;
  }
  /* Give origins 0 height/width so they don't interfere with clicking the
  * connect elements.
  */
  .noUi-vertical .noUi-origin {
    width: 0;
  }
  .noUi-horizontal .noUi-origin {
    height: 0;
  }
  .noUi-handle {
    position: absolute;
  }
  .noUi-state-tap .noUi-connect,
  .noUi-state-tap .noUi-origin {
    -webkit-transition: transform 0.3s;
    transition: transform 0.3s;
  }
  .noUi-state-drag * {
    cursor: inherit !important;
  }
  /* Slider size and handle placement;
  */
  .noUi-horizontal {
    height: 18px;
  }
  .noUi-horizontal .noUi-handle {
    width: 34px;
    height: 28px;
    left: -17px;
    top: -6px;
  }
  .noUi-vertical {
    width: 15px;
  }
  .noUi-vertical .noUi-handle {
    width: 48px; // a bit bigger than
    height: 48px; // the handle image
    left: 12px;
    top: -25px; // Make sure it doesn't fly off the handle
  }
  html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -17px;
    left: auto;
  }
  /* Styling;
  * Giving the connect element a border radius causes issues with using transform: scale
  */
  .noUi-target {
    background: linear-gradient(#004656, #30e8c3);
    border-radius: 3px;
  }
  .noUi-connects {
    border-radius: 3px;
  }
  .noUi-connect {
    background: #3fb8af;
  }
  /* Handles and cursors;
  */
  .noUi-draggable {
    cursor: ew-resize;
  }
  .noUi-vertical .noUi-draggable {
    cursor: ns-resize;
  }
  .noUi-handle {
    background-image: url("http://www.abc.net.au/res/sites/news-projects/income-comparisons-react/master/handle.svg");
    background-repeat: no-repeat;
    background-position: left center;
    cursor: pointer;
  }
  .noUi-active {
    // box-shadow: inset 0 0 1px #fff, inset 0 1px 7px #ddd, 0 3px 6px -3px #bbb;
  }
  /* Handle stripes;
  */
  .noUi-handle:before,
  .noUi-handle:after {
    // content: "";
    // display: block;
    // position: absolute;
    // height: 14px;
    // width: 1px;
    // background: #e8e7e6;
    // left: 14px;
    // top: 6px;
  }
  .noUi-handle:after {
    left: 17px;
  }
  .noUi-vertical .noUi-handle:before,
  .noUi-vertical .noUi-handle:after {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px;
  }
  .noUi-vertical .noUi-handle:after {
    top: 17px;
  }
  /* Disabled state;
  */
  [disabled] .noUi-connect {
    background: #b8b8b8;
  }
  [disabled].noUi-target,
  [disabled].noUi-handle,
  [disabled] .noUi-handle {
    cursor: not-allowed;
  }
  /* Base;
  *
  */
  .noUi-pips,
  .noUi-pips * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .noUi-pips {
    position: absolute;
    color: #999;
  }
  /* Values;
  *
  */
  .noUi-value {
    position: absolute;
    white-space: nowrap;
    text-align: center;
  }
  .noUi-value-sub {
    color: #ccc;
    font-size: 10px;
  }
  /* Markings;
  *
  */
  .noUi-marker {
    position: absolute;
    background: #ccc;
  }
  .noUi-marker-sub {
    background: #aaa;
  }
  .noUi-marker-large {
    background: #aaa;
  }
  /* Horizontal layout;
  *
  */
  .noUi-pips-horizontal {
    padding: 10px 0;
    height: 80px;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .noUi-value-horizontal {
    -webkit-transform: translate(-50%, 50%);
    transform: translate(-50%, 50%);
  }
  .noUi-rtl .noUi-value-horizontal {
    -webkit-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
  }
  .noUi-marker-horizontal.noUi-marker {
    margin-left: -1px;
    width: 2px;
    height: 5px;
  }
  .noUi-marker-horizontal.noUi-marker-sub {
    height: 10px;
  }
  .noUi-marker-horizontal.noUi-marker-large {
    height: 15px;
  }
  /* Vertical layout;
  *
  */
  .noUi-pips-vertical {
    padding: 0 10px;
    height: 100%;
    top: 0;
    left: 100%;
  }
  .noUi-value-vertical {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%, 0);
    padding-left: 25px;
  }
  .noUi-rtl .noUi-value-vertical {
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
  }
  .noUi-marker-vertical.noUi-marker {
    width: 5px;
    height: 2px;
    margin-top: -1px;
  }
  .noUi-marker-vertical.noUi-marker-sub {
    width: 10px;
  }
  .noUi-marker-vertical.noUi-marker-large {
    width: 15px;
  }
  .noUi-tooltip {
    display: block;
    position: absolute;
    // border: 1px solid #d9d9d9;
    border-radius: 3px;
    // background: #fff;
    color: #ff6100;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    font-family: ABCSans, Arial, Helvetica, sans-serif;
  }
  .noUi-horizontal .noUi-tooltip {
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    left: 50%;
    bottom: 120%;
  }
  .noUi-vertical .noUi-tooltip {
    -webkit-transform: translate(0, -40%);
    transform: translate(0, -40%);
    top: 40%;
    right: 130%;
  }
}
