.wrapper {
}

.flex-wrapper {
  font-size: 20px;
  color: #143d47;
  display: flex;
  align-items: flex-start;
}

.column {
  margin: 6px;
  flex-grow: 1;
  // flex-shrink: 1;
  flex-basis: 0;
  // border: 1px solid #ddd;
}

.one {
  flex-grow: 1.5;
}

.two {
  text-align: right;
}

.column .boldtext {
  font-weight: bold;
  margin-bottom: 0.8rem;
}

.column .smalltext {
  font-family: ABCSans, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #516c72;
  margin-bottom: 0.8rem;
}

.wrapper button {
  margin: auto;
  min-width: 100%;
  display: block;
  color: white;
  background-color: #1c1c1c;
  text-transform: uppercase;
  font-family: ABCSans, Arial, Helvetica, sans-serif;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 12px;
  letter-spacing: 2px;
  border: 0;
}

.wrapper input[type="text"] {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 2px solid #143d47;
  outline: none;
  font-size: 20px;
  padding: 1px;
  color: #ff6100;
  max-width: 80px;
}

// Range slider .wrapper input[type="range"] {
//   -webkit-appearance: slider-vertical; // webkit
//   // position: relative;
//   // display: inline-block;
//   height: 200px;
//   width: 30px;
// }

.wrapper {
  input[type="range"] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-moz-focus-outer {
    border: 0;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 15px;
    cursor: pointer;
    background: linear-gradient(to right, #004656 , #30E8C3);
    border-radius: 2px;
    // border: 0.2px solid #010101;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    // background: #367ebd;
  }
  input[type="range"]::-webkit-slider-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;

    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
  }
  
  input[type="range"]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: linear-gradient(to right, #004656 , #30E8C3);
    border: 0.2px solid #010101;
  }
  input[type="range"]::-moz-range-thumb {
    border: 1px solid black;
    height: 36px;
    width: 16px;
    background: #ffffff;
    cursor: pointer;
    border-radius: 0;
  }
  input[type="range"]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type="range"]::-ms-fill-lower {
    background: linear-gradient(to right, #004656 , #30E8C3);
    border: 0.2px solid #010101;
  }
  input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, #004656 , #30E8C3);
    border: 0.2px solid #010101;
  }
  input[type="range"]::-ms-thumb {
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    background: #ffffff;
    cursor: pointer;
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #3071a9;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: #367ebd;
  }
  //   input[type="range"] {
  //     margin: auto;
  //     -webkit-appearance: none;
  //     position: relative;
  //     overflow: hidden;
  //     height: 40px;
  //     width: 200px;
  //     cursor: pointer;
  //     border-radius: 0; /* iOS */
  //   }

  //   ::-webkit-slider-runnable-track {
  //     background: #ddd;
  //   }

  //   /*
  //  * 1. Set to 0 width and remove border for a slider without a thumb
  //  */
  //   ::-webkit-slider-thumb {
  //     -webkit-appearance: none;
  //     width: 20px; /* 1 */
  //     height: 40px;
  //     background: #fff;
  //     box-shadow: -100vw 0 0 100vw dodgerblue;
  //     border: 2px solid #999; /* 1 */
  //   }

  //   ::-moz-range-track {
  //     height: 40px;
  //     background: #ddd;
  //   }

  //   ::-moz-range-thumb {
  //     background: #fff;
  //     height: 40px;
  //     width: 20px;
  //     border: 3px solid #999;
  //     border-radius: 0 !important;
  //     box-shadow: -100vw 0 0 100vw dodgerblue;
  //     box-sizing: border-box;
  //   }

  //   ::-ms-fill-lower {
  //     background: dodgerblue;
  //   }

  //   ::-ms-thumb {
  //     background: #fff;
  //     border: 2px solid #999;
  //     height: 40px;
  //     width: 20px;
  //     box-sizing: border-box;
  //   }

  //   ::-ms-ticks-after {
  //     display: none;
  //   }

  //   ::-ms-ticks-before {
  //     display: none;
  //   }

  //   ::-ms-track {
  //     background: #ddd;
  //     color: transparent;
  //     height: 40px;
  //     border: none;
  //   }

  //   ::-ms-tooltip {
  //     display: none;
  //   }
}
