.scrollyteller {
  overflow: unset !important;
}

.scrollyteller > div:first-child {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}



.stage {
  background-color: grey;
}

:global {
  .Block-content:last-child {
    margin-bottom: 99vh !important; // So content scrolls off before moving on
    // We use 99vh so that there's a little bit always on the screen
    // to preserve the feeling of scroll motion
  }
  .is-piecemeal > .Block-content:nth-child(2) {
    margin-top: 0px !important;
  }
  .Block.is-richtext {
    background-color: transparent;
  }

  body {
    overflow: unset !important;
  }
}
