.scrollyteller {
  dummy: class;
}

.stage {
  background-color: #111;
}

.legend {
  text-align: center;
  position: relative;
  bottom: 130px;
  opacity: 0.9;
}

.legend-inner {
  margin: auto;
  max-width: 305px;
  background-color: white;
  font-weight: bold;
  font-family: ABCSans, Arial, Helvetica, sans-serif;
  padding: 15px;
  font-size: 13px;
}

.legend-bar {
  height: 15px;
  background: linear-gradient(
    to right,
    #E1E6DA,
    #BFE3CD,
    #9CD9CE,
    #7ACFD4,
    #5EC0CD,
    #3FB2C6,
    #24A3BC,
    #188CAD,
    #0F75A0,
    #085B96,
    #03418D,
    #002875,
    #00114B
  );
  border-radius: 2px;
}

.left-right {
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;

}

.left-right span {
  float: right;
}

.left-right img {
  stroke-width: 2px;
}

:global {
  .Block-content:last-child {
    margin-bottom: 99vh !important; // So content scrolls off before moving on
    // We use 99vh so that there's a little bit always on the screen
    // to preserve the feeling of scroll motion
  }

  .Block.is-richtext {
    background-color: transparent !important;
  }

  // Sticky positioning styles TODO: make fallback for IE11
  .yes-csspositionsticky {
    overflow: visible !important;
  }

  // body {
  //   overflow: visible !important;
  // }

  .yes-csspositionsticky > div:first-child {
    width: unset; // to stop horizontal scroll bar
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    // z-index: -1;
  }
  .yes-csspositionsticky.is-piecemeal > .Block-content:nth-child(2) {
    // For position sticky the block takes up space so we don't want margin-top
    margin-top: 0px !important;
  }
  // end sticky positioning
}
