.wrapper {
  font-family: ABCSans, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // width: 500px;
  // border: 1px black solid;
  margin: 0 auto;
  flex-basis: auto;
}

.label {
  color: black;
  font-size: 12px;
  text-align: right;
  flex-basis: 15%;
  padding-right: 10px;
}

.chart {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.mid-bar {
  height: 2px;
  background-color: #e1e7e8;
}

.your {
  position: absolute;
  font-size: 28px;
  // top: -5px;
  // left: calc(98% - 10px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #ff6100;
}
