.wrapper {
  font-family: ABCSans, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // width: 500px;
  // border: 1px black solid;
  margin: 15px auto;
  flex-basis: auto;
}

.label {
  color: black;
  font-size: 12px;
  text-align: right;
  flex-basis: 15%;
  padding-right: 10px;
}

.chart {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.mid-bar {
  height: 2px;
  background-color: #e1e7e8;
}

.dot1 {
  position: absolute;
  font-size: 28px;
  width: 10px;
  height: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #ff6100;
  border-radius: 50%;
}

.dot2 {
  position: absolute;
  font-size: 28px;
  width: 10px;
  height: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #001050;
  border-radius: 50%;
}

.line1 {
  position: absolute;
  font-size: 28px;
  width: 2px;
  height: 16px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #78B8C4;
}
